<tr>
  <td><div id="route_title_<%=route.id%>"><%= route.name %></div>
    <%= render 'inline_form', route: route, hidden: true %>
  </td>
  <td><%= link_to 'Показать', [:admin, route] %></td>
  <td><%= link_to 'Изменить', '', class: 'edit_route', data: { route_id: route.id } %></td>
  <td><%= link_to 'Удалить', [:admin, route], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
