<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Stations in route:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
      Stations list empty
  <% else %>
    <ul>
      <% @route.railway_stations.ordered.each do |station| %>
        <li>
          <p> <strong><%= station.title %></strong>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= label_tag :station_index %>
                <%= number_field_tag :station_index, station.index(@route.id) %>
                <%= submit_tag 'Save' %>
            <% end %>
          </p>
          <p>
            <%= form_tag update_time_railway_station_path(station), method: :patch do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= label_tag :arrive_time %>
              <%= datetime_field_tag :arrive_time, station.arrive_time(@route.id) %>
              <%= label_tag :outgo_time %>
              <%= datetime_field_tag :outgo_time, station.outgo_time(@route.id) %>
              <%= submit_tag 'Save' %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
<% end %>
</p>
<p>
  <strong>Trains in route:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
      Routes list empty
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<td><%= link_to 'Назад', admin_routes_path %></td>
<td><%= link_to 'Изменить', admin_edit_route_path(@route) %></td>
<td><%= link_to 'Удалить', [:admin, @route], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
