<%= form_for([@train, @carriage]) do |f| %>
    <%= render 'common/errors', resource: @carriage %>

    <div class="field">
      <%= f.label :top_seats %><br>
      <%= f.number_field :top_seats %>
    </div>

    <div class="field">
      <%= f.label :bottom_seats %><br>
      <%= f.number_field :bottom_seats %>
    </div>

    <div class="field">
      <%= f.label :kind %><br>
      <%= f.select :kind, Carriage.kinds.keys.to_a %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
