<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Stations in route:</strong>
</p>
<p>
  <% if @route.railway_stations.empty? %>
      Stations list empty
  <% else %>
    <ul>
      <% @route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
      <% end %>
    </ul>
<% end %>
</p>
<p>
  <strong>Trains in route:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
      Routes list empty
  <% else %>
    <ul>
      <% @route.routes.each do |route| %>
          <li><%= route.name %></li>
      <% end %>
    </ul>
<% end %>
</p>

<td><%= link_to 'Назад', routes_path %></td>
<td><%= link_to 'Изменить', edit_route_path(@route) %></td>
<td><%= link_to 'Удалить', @route, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
